<!doctype html>
<html>
<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title></title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="assets/css/print.min.css" />
		<link rel="stylesheet" href="assets/css/style.css"/>


		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="assets/js/ace-extra.min.js"></script>
        <script src="assets/js/PrintJscustom.min.js"></script>
				<!-- <script src="assets/js/print.min.js"></script> -->


		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	<link href="https://fonts.googleapis.com/css?family=Mitr|Prompt|Sarabun&display=swap" rel="stylesheet">
	
	<style>
		body{
			background-color: #ffffff;
			font-family: 'Sarabun', sans-serif; 
			font-size: 12px;;
		}
		table tr td {
			padding: 3px;
		}
		
	</style>
	</head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
		<div class="row">
			
		  <div class="col-sm-2"><h4 style="margin: 0px;color:red"><b>C H U B B</b></h4></div>
		  <div class="col-sm-3">
			<address style="font-size:10px;">
						 Chubb Samaggi Insurance PCL.Head office
						<br>
						2/4 Chubb Tower, 12th Fl.,Northpatk Project
						<br>
						Vibhavadi-Rangsit Rd.,Thung Song Hong,
						<br>
						Laksi, Bangkok 10210
						<br>
						Co Regn,Tax ID No. 0107537001510
					</address>
		  </div>
		  <div class="col-sm-3">
			<address style="font-size:10px;">
						บริษัท ซับบ์สามัคคีประกันภัย จำกัด (มหาชน)-สำนักงานใหญ่
						<br>
						2/4 อาคารซับบ์ ชั้นที่ 12 โครงการนอร์ธปาร์ค
						<br>
						ถนนวิภาวดีรังสิต แขวงทุ่งสองห้อง
						<br>
						เขตหลักสี่ กรุงเทพฯ 10210
						<br>
						ทะเบียนเลขที่/เลขผู้เสียภาษีอากร 0107537001510
					</address>
		  </div>
		  <div class="col-sm-2" style="font-size:10px;">
					<address>
						T +66 0 2555 9100
						<br>
						F +66 0 2955 0151
						<br>
						www.chubb.com/th
					</address>
		  </div>
		  <div class="col-sm-2">
			<address style="text-align:right;font-size:10px;">						
					<strong>
						ชำระอากรแล้ว
					</strong>
			<br>
						<div><strong style="border-style: solid; padding: 0px 20px;font-size:16px; margin-top: 10px">ต้นฉบับ</strong></div>
					</address>
		  </div>			
		</div>
	
		<div class="row">
		  	<div class="col-sm-12" style="text-align: center; font-size: 14px;">
				<span style="margin-left: 100px;"><strong>ตารางกรมธรรม์ประกันภัยบ้านสามัคคีอยู่สบาย</strong></span><span style="float: right; position: relative"><strong>502040237</strong></span>
		 	</div>
		</div>	
	
<div class="row">
		  <div class="col-sm-12" style="text-align:center; font-size: 14px;">
		    <span style="margin-left: 80px;"><strong>INSURANCE POLICY SCHEDULE</strong></span><span style="float: right; position: relative"><strong>H_LITEL</strong></span>
		  </div>
		</div>

<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td width="6%" height="40" align="left" valign="top" style="font-size:12px;border-right: none;"><strong>รหัสบริษัท</strong><br>
        <font style="font-size:10px">Company Code</font></td>
      <td width="15%" align="left" valign="top" style="font-size:12px; border-left: none; border-right: none;"><strong>CBSMG</strong></td>
      <td width="6%" height="40" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none;">
		  <input type="checkbox">
          <strong>ต่ออายุ</strong> <br>
          <font style="font-size:10px; margin-left:17px;">Renewal</font> </td>
      <td width="28%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none;">		 
          <input type="checkbox">
          <strong>ประกันภัยใหม่</strong><br>
          <font style="font-size:10px; margin-left:17px;">New Business</font></td>
      <td width="7%" height="40" align="left" valign="top" style="font-size:12px;border-left: none;border-right: none;">&nbsp;<strong>กรมธรรม์เดิมเลขที่</strong><br>
        <font style="font-size:10px">Previous Policy No.</font></td>
      <td width="13%" align="left" valign="top" style="font-size:12px;border-left: none;border-right: none;">706-20-11-HHI-01000></td>
      <td width="8%" height="40" align="left" valign="top" style="font-size:12px; border-left: none; border-right: none;">&nbsp;<strong>กรมธรรม์ประกันภัยเลขที่</strong><br>
        <font style="font-size:10px">Policy No.</font></td>
      <td width="17%" align="left" valign="top" style="font-size:12px;border-left: none;">706-20-11-HHI-01233</td>
    </tr>
  </thead>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td height="20" colspan="3" align="left" valign="top" style="font-size: 12px; border-right: none; border-bottom: none; border-top:none;"><strong>ชื่อและที่อยู่ผู้เอาประกันภัย</strong><br>
        <font style="font-size:10px">Name and Address of Insured</font></td>
      <td width="671" height="20" align="left" valign="top" style="font-size: 12px; border-bottom: none; border-top:none;"><strong>สถานที่ตั้งทรัพย์สินเอาประกันภัย</strong><br>
        <font style="font-size:10px">Location of Property Insured</font></td>
    </tr>
    <tr>
      <td colspan="3" align="left" valign="top" style="padding-left: 20px; border-top: none;"><span> นายประสิทธิ์ ศรีพุฒ<br>
        405/66 หมู่ 4 ตำบลคลองแห <br>
        อำเภอหาดใหญ่ จังหวัดสงขลา 90110 </span></td>
      <td align="left" valign="top" style="padding-left: 20px;  border-top: none;"><span> นายประสิทธิ์ ศรีพุฒ<br>
        405/66 หมู่ 4 ตำบลคลองแห <br>
        อำเภอหาดใหญ่ จังหวัดสงขลา 90110 </span></td>
    </tr>
  </thead>
  <thead>
    <tr>
      <td width="137" align="left" style="font-size: 12px; border-right: none; border-bottom: none;"><strong>ผู้รับประโยชน์</strong><br>
        <font style="font-size:10px">Benefioiary</font></td>
      <td colspan="3" align="left" style="border-left:none; border-bottom: none;">คุณสรรเสริญ สมิทธ์สมบุรณ์</td>
    </tr>
  </thead>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td width="10%" height="40" align="left" valign="top" style="font-size:12px;border-right: none; border-bottom: none;"><strong>ระยะเวลาเอาประกัน</strong><br>
        <font style="font-size:10px">Period of Insurance</font></td>
      <td width="13%" align="left" valign="top" style="font-size:12px; border-left: none; border-right: none; border-bottom: none;"><strong>5 ปี</strong></td>
      <td width="4%" height="40" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;">
        <strong>เริ่มวันที่</strong> <br>
        <font style="font-size:10px;">from</font></td>
      <td width="10%" align="center" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;">24 ธันวาคม 2563</td>
      <td width="3%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;">
        <strong>เวลา</strong><br>
        <font style="font-size:10px;">at</font></td>
      <td width="5%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;">16.30 น.</td>
      <td width="13%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;"><strong>น.</strong><br>
      <font style="font-size:10px;">hours</font></td>
      <td width="3%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;"><strong>สิ้นสุดวันที่</strong> <br>
        <font style="font-size:10px;">to</font></td>
      <td width="10%" align="center" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;">24 ธันวาคม 2563</td>
      <td width="3%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;"><strong>เวลา</strong><br>
        <font style="font-size:10px;">at</font></td>
      <td width="6%" align="center" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;">16.30 น.</td>
      <td width="20%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;"><strong>น.</strong><br>
        <font style="font-size:10px;">hours</font></td>
    </tr>
  </thead>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="30" align="center"><strong>ข้อตกลงคุ้มครอง</strong><br>
        <font style="font-size:10px;">Coverage Agreement</font></td>
      <td width="10%" height="30" align="center"><strong>จำนวนเงินเอาประกันภัย / จำนวนเงินจำกัดความรับผิด (บาท)</strong><br>
        <font style="font-size:10px;">Sum Insured / Limit of Liability (Baht)</font></td>
      <td width="10%" height="30" align="center"><strong>ความเสียหายส่วนแรก (บาท)</strong><br>
        <font style="font-size:10px;">Deductible (Baht)</font></td>
      <td width="10%" height="30" align="center"><strong>เบี้ยประกันภัย (บาท)</strong><br>
        <font style="font-size:10px;">Premium (Baht)</font></td>
    </tr>
    <tr>
      <td height="200" align="center">------------------------------------ ตามเอกสารแนบ ---------------------------------</td>
      <td height="200" align="center">&nbsp;</td>
      <td height="30">&nbsp;</td>
      <td height="30">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" align="center" style="border-bottom: none;">&nbsp;</td>
      <td width="10%" valign="top" style="border-bottom: none;"><strong>เบี้ยประกันภัยสุทธิ</strong><br>
        <font style="font-size:10px;">Net Premium</font></td>
      <td align="right" valign="top" style="border-bottom: none;"><strong>12,007.08 บาท</strong></td>
    </tr>
    <tr>
      <td colspan="2" align="center" style="border-bottom: none; border-top:none;">&nbsp;</td>
      <td valign="top" style="border-bottom: none; border-top:none;"><strong>อากรแสตมป์</strong><br>
        <font style="font-size:10px;">Stamp Duty</font></td>
      <td align="right" valign="top" style="border-bottom: none; border-top:none;"><strong>49.00 บาท</strong></td>
    </tr>
    <tr>
      <td colspan="2" align="center" style="border-bottom: none; border-top:none;">&nbsp;</td>
      <td valign="top" style="border-bottom: none; border-top:none;"><strong>ภาษีมูลค่าเพิ่ม</strong><br>
        <font style="font-size:10px;">VAT</font></td>
      <td align="right" valign="top" style="border-bottom: none; border-top:none;"><strong>843.93 บาท</strong></td>
    </tr>
    <tr>
      <td colspan="2" align="center" style=" border-top:none;">&nbsp;</td>
      <td valign="top" style=" border-top:none;"><strong>เบี้ยประกันภัยรวม</strong><br>
        <font style="font-size:10px;">Total Premium</font></td>
      <td align="right" valign="top" style=" border-top:none;"><strong>12,900.01 บาท</strong></td>
    </tr>
    
  </tbody>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td width="179" align="left" valign="top" style="font-size: 12px; border-right: none; border-bottom: none; border-top: none;"><strong>เอกสารแนบท้ายที่แนบติด</strong><br>
        <font style="font-size:10px">Endorsement Attached</font></td>
      <td width="1590" align="left" valign="top" style="border-left:none; border-bottom: none; border-top: none;">xxxxxxxxxxxxxxxxx</td>
    </tr>
  </thead>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td width="10%" height="40" align="left" valign="top" style="font-size:12px;border-right: none; border-bottom: none;"><strong>วันทำสัญญาประกันภัย</strong><br>
        <font style="font-size:10px">Agreement made on</font></td>
      <td width="21%" align="center" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;"><strong>24 ธันวาคม 2563</strong></td>
      <td width="32%" align="center" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;">&nbsp;</td>
      <td width="9%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;"><strong>วันออกกรมธรรม์ประกันภัย</strong> <br>
        <font style="font-size:10px;">Policy issued on</font></td>
      <td width="28%" align="center" valign="top" style="font-size:12px;border-left: none; border-right: none; border-bottom: none;"><strong>24 ธันวาคม 2563</strong></td>
    </tr>
  </thead>
</table>

<table style="width:100%;margin-left: auto;margin-right: auto;" >
  <thead>
    <tr>
      <td width="5%" height="40" align="right" valign="top" style="font-size:12px;border-right: none;">
        <input type="checkbox">
     </td>
      <td width="10%" height="40" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none;"><strong>ตัวแทน</strong><br>
        <font style="font-size:10px">Agent</font></td>
      <td width="2%" align="right" valign="top" style="font-size:12px;border-left: none; border-right: none;">
        <input type="checkbox">
      </td>
      <td width="10%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none;"><strong>นายหน้าประกันภัยราายนี้</strong><br>
        <font style="font-size:10px">Broker</font></td>
      <td width="55%" align="left" style="font-size:12px;border-left: none; border-right: none;"><strong>นางสาว ทิวาภรณ์ แซ่เอีี้ยว</strong></td>
      <td width="5%" align="left" valign="top" style="font-size:12px;border-left: none; border-right: none;"><strong>ใบอนุญาตเลขที่</strong><br>
        <font style="font-size:10px">License No.</font></td>
      <td width="13%" align="center" valign="top" style="font-size:12px;border-left: none; border-right: none;"><strong>45904022726</strong></td>
    </tr>
  </thead>
</table>
<p>&nbsp;</p>
<p>เพื่อเป็นหลักฐาน บริษัท โดยบุคคลผู้มีอำนาจกระทำการแทนบริษัท ได้ลงลายมือชื่อไว้เป็นสำคัญ ณ สำนักงานของบริษัท<br>
As evidence the Company has caused this policy to be signed by duly authorized persons to be affixed at its office.</p>
<p>&nbsp;</p>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="33%" align="center" valign="bottom"  style="border: none;">............................................................ </td>
      <td width="33%" align="center" valign="bottom"  style="border: none;">............................................................ </td>
      <td width="33%" align="center" valign="bottom"  style="border: none;">............................................................ </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="text-align: center; border: none;"><br>
      (  กรรมการ  ) <br>Director </td>
      <td align="center" valign="top" style="text-align: center; border: none;"><br>
        (  กรรมการ  ) <br>
        Director </td>
      <td align="center" valign="top" style="text-align: center; border: none;"><br>
        (ผู้รับมอบอำนาจ  ) <br>
        Authorized Signature</td>
    </tr>
  </tbody>
</table>


	
</body>
</html>
