<!doctype html>
<html>
<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title></title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="assets/css/print.min.css" />
		<link rel="stylesheet" href="assets/css/style.css"/>


		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="assets/js/ace-extra.min.js"></script>
        <script src="assets/js/PrintJscustom.min.js"></script>
				<!-- <script src="assets/js/print.min.js"></script> -->


		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	<link href="https://fonts.googleapis.com/css?family=Mitr|Prompt|Sarabun&display=swap" rel="stylesheet">
	
	<style>
		body{
			background-color: #ffffff;
			font-family: 'Sarabun', sans-serif; 
			font-size: 12px;;
		}
		table tr td {
			padding: 3px;
		}
		
	</style>
	</head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
		<div class="row">
			
		  <div class="col-sm-2"><h4 style="margin: 0px;color:red"><b>C H U B B</b></h4></div>
		  <div class="col-sm-3">
			<address style="font-size:10px;">
						 Chubb Samaggi Insurance PCL.Head office
						<br>
						2/4 Chubb Tower, 12th Fl.,Northpatk Project
						<br>
						Vibhavadi-Rangsit Rd.,Thung Song Hong,
						<br>
						Laksi, Bangkok 10210
						<br>
						Co Regn,Tax ID No. 0107537001510
					</address>
		  </div>
		  <div class="col-sm-3">
			<address style="font-size:10px;">
						บริษัท ซับบ์สามัคคีประกันภัย จำกัด (มหาชน)-สำนักงานใหญ่
						<br>
						2/4 อาคารซับบ์ ชั้นที่ 12 โครงการนอร์ธปาร์ค
						<br>
						ถนนวิภาวดีรังสิต แขวงทุ่งสองห้อง
						<br>
						เขตหลักสี่ กรุงเทพฯ 10210
						<br>
						ทะเบียนเลขที่/เลขผู้เสียภาษีอากร 0107537001510
					</address>
		  </div>
		  <div class="col-sm-2" style="font-size:10px;">
					<address>
						T +66 0 2555 9100
						<br>
						F +66 0 2955 0151
						<br>
						www.chubb.com/th
					</address>
		  </div>
		  <div class="col-sm-2">
			<address style="text-align:right;font-size:10px;">						
					<strong>
						ชำระอากรแล้ว
					</strong>
			<br>
						<div><strong style="border-style: solid; padding: 0px 20px;font-size:16px; margin-top: 10px">ต้นฉบับ</strong></div>
					</address>
		  </div>			
		</div>
	
		<div class="row">
		  	<div class="col-sm-12" style="text-align: center; font-size: 14px;">
				<span><strong>กรมธรรม์ประกันภัยความรับผิดของผู้ขนส่ง</strong></span>
		 	</div>
		</div>	
	
<div class="row">
		  <div class="col-sm-12" style="text-align:center; font-size: 14px;">
			  <span style="float: left"><strong>ทะเบียนเลขที่ xxxxxxxxxxxxxxxxxxxxx </strong></span><span style="float: right; position: relative"><strong>กรมธรรม์เลขที่ xxxxxxxxxxxxxxxxxxxxxxxxxx</strong></span>
		  </div>
		</div>

<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td height="40" align="left" valign="top" style="font-size:12px;">
		  กรมธรรม์ประกันภัยฉบับนี้ทำให้ไว้เป็นสำคัญว่า "ผู้เอาประกัน" ตามที่ระบุชื่อไว้ในตารางกรมธรรม์ประกันภัยข้างล่างนี้ตกลงชำระเบี้ยประกันภัย และเบี้ยประกันเพิ่ม (หากมี) ตามจำนวนที่ได้ระบุไว้ในกรมธรรม์ประกันภัยให้แก่ <strong>บริษัท xxxxxxxxxxxx จำกัด</strong> ซึ่งต่อไปนี้เรียกว่า "บริษัท" เพื่อตอบแทนในการที่บริษัทตกลงรับประกันความรับผิดตามกฎหมายของผู้เอาประกันภัยในความสูญหาย หรือความเสียหาย หรือส่งมอบชักช้าของที่ผู้เอาประกันภัยรับขนและโดยยานพาหนะที่ระบุไว้ในตารางกรมธรรม์ประกันภัยตามรายละเอียดข้างล่างนี้และภายใต้ ข้อสัญญาเงื่อนไข ข้อยกเว้นและข้อรับรองต่ง ๆ ที่ปรากฏในกรมธรรม์ประกันภัยฉบับนี้ รวมทั้งเอกสารแนบท้ายและใบสลักหลัง (ในกรณีที่ข้อความในเอกสารแนบท้าย และใบสลักหลังขัดหรือแย้งกับข้อความที่ระบุไว้ในกรมธรรม์ประกันภัยนี้ ให้ถือเอาข้อความในเอกสารแนบท้ายและใบสลักหลังเป็นสำคัญ)     
      </td>
    </tr>
  </thead>
</table>
	
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td height="30" align="center"  style="font-size:12px; border-top: none ">
		 <strong>ตารางกรมธรรม์ประกันภัย</strong>
      </td>
    </tr>
  </thead>
</table>
	
	
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td width="142" height="20" align="left" valign="top" style="font-size: 12px; border-right: none; border-bottom: none; border-top:none;"><strong>ชื่อและที่อยู่ผู้เอาประกันภัย</strong><br>
        <font style="font-size:10px">Name and Address of Insured</font></td>
      <td height="20" align="left" valign="top" style="font-size: 12px; border-bottom: none; border-top:none; border-left: none;">นายประสิทธิ์ ศรีพุฒ<br>
405/66 หมู่ 4 ตำบลคลองแห 
อำเภอหาดใหญ่ จังหวัดสงขลา 90110 </td>
    </tr>
  </thead>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td height="30" align="center"  style="font-size:12px; border-bottom: none "><strong>ยานพาหนะขนส่ง</strong></td>
    </tr>
  </thead>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="20%" height="30" align="center"><strong>ประเภท</strong></td>
      <td height="30" align="center"><strong>เลขตัวถังและเลขทะเบียน หรืออื่นๆ</strong></td>
    </tr>
    <tr>
      <td align="left" valign="top">รถยนต์ / รถ 4 ล้อ<br>
      แบบมีดอก / ไม่มีดอก</td>
      <td align="left" valign="top">สินค้าที่เอาประกันภัย ผักสด ผลไม้สด ต้นไม้ ดอกไม้ ต้นหญ้า อื่นๆ ยกเว้นสินค้าที่ระบุอยู่ในข้อยกเว้นตามเอกสารแนบท้าย<br>
      ยี่ห้อรถ ISUZU ทะเบียนรถ บล 652 จังหวัดสุรินทร์<br>
      เลขตัวถัง xxxxxxxxxxxx เลขเครื่องยนต์ xxxxxxxxxxxxxxxxx<br></td>
    </tr>
  </tbody>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td height="30" align="left"  style="font-size:12px; border-bottom: none; border-top: none; "><strong>ระยะเวลาประกันภัย</strong></td>
    </tr>
    <tr>
      <td height="30" align="left"  style="font-size:12px; border-bottom: none; border-top: none; ">
		<input type="checkbox" checked style="width: 20px"> 
		กรมธรรม์ประกันภัยแบบกำหนดเวลา : เริ่มวันที่<strong> 24 พฤศจิกายน 2563</strong> เวลา 16.30 น.  สิ้นสุดวันที่<strong> 24 ธันวาคม 2563</strong> เวลา 16.30 น.<br>
    	<span style="margin-left: 23px;">ขอบเขต ภายในราชอาณาจักรไทยหรือตามเอกสารแนบ และเส้นทางการขนส่ง ตามเส้นทางปกตินิยม</span>  <br>
       <input type="checkbox" style="width: 20px"> กรมธรรม์ประกันภัยแบบขนส่งเฉพาะเที่ยว : จาก xxxxxxxxxxxxxxxxxxxxxxxxx</td>
    </tr>
  </thead>
</table>
	
<table style="width:100%;" class="T2">
  <thead>
    <tr>
      <td height="30" align="left"  style="font-size:12px; border-bottom: none; "><strong>จำนวนเงินจำกัดความรับผิดสำหรับค่าสินไหมทดแทน</strong></td>
    </tr>
    <tr>
      <td height="30" align="left" style="font-size:12px; border-bottom: none; border-top: none; padding-left:10px; ">
		1. จำนวนเงินจำกัดความรับผิดรวม 300,000 บาท<br>
		2. จำนวนเงินจำกัดความรับผิดต่อการเรียกร้องหรือต่ออุบัติเหตุแต่ละครั้ง 300,000 บาท<br>
		3. จำนวนเงินจำกัดความรับผิดต่อหนึ่งยานพาหนะ  300,000 บาท <br>
		4. จำนวนเงินจำกัดความรับผิดเพื่อการส่งมอบชักช้าต่อการเรียกร้องหรือต่ออุบัติเหตุแต่ละครั้งและต่อหนึ่งยานพาหนะ ..... ไม่คุ้มครอง ..... บาท		
	  </td>
    </tr>
  </thead>
</table>
	
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td height="30" align="left"  style="font-size:12px; border-bottom: none "><strong>ความเสียหายส่วนแรก ที่ผู้เอาประกันภัยต้องรับผิดเองต่ออุบัติเหตุแต่ละครั้ง ตามเอกสารแนบท้าย</strong></td>
    </tr>
  </thead>
</table>
	

<table style="width:100%;" class="T2">
  <thead>
    <tr>
      <td height="30" align="left"  style="font-size:12px; border-bottom: none; ">
		  <strong>ภัยเพิ่มพิเศษหรือข้อรับรองหรือเอกสารแนบท้าย ซึ่งถือเป็นส่วนหนึ่งของกรมธรรม์ประกันภัย </strong>
		<input type="checkbox"  style="width: 20px"> ไม่มี  <input type="checkbox" checked style="width: 40px">   มี
	  </td>
    </tr>
    <tr>
      <td height="30" align="left"  style="font-size:12px; border-bottom: none; border-top: none; padding-left:20px; ">
		ตามเอกสารแนบ	
	  </td>
    </tr>
  </thead>
</table>
	
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="20%" align="center"><strong>อัตราเบี้ยประกันภัย</strong></td>
      <td width="20%" align="center"><strong>เบี้ยประกันภัย (บาท)</strong></td>
      <td width="20%" align="center"><strong>อากรแสตมป์ (บาท)</strong></td>
      <td width="20%" align="center"><strong>ภาษีมูลค่าเพิ่ม (บาท)</strong></td>
      <td width="20%" align="center"><strong>เบี้ยประกันภัยรวม (บาท)</strong></td>
    </tr>
    <tr>
      <td align="center" style="border-bottom: none;">0.5000000</td>
      <td align="center" style="border-bottom: none;">1,500.00</td>
      <td align="center" style="border-bottom: none;">8.00</td>
      <td align="center" style="border-bottom: none;">105.42</td>
      <td align="center" style="border-bottom: none;">1,611.42</td>
    </tr>
  </tbody>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" >
  <thead>
    <tr>
      <td width="5%" height="40" align="right" valign="middle" style="font-size:12px;border-right: none;"><input type="checkbox"></td>
      <td width="10%" height="40" align="left" valign="middle" style="font-size:12px;border-left: none; border-right: none;"><strong>ตัวแทน</strong></td>
      <td width="2%" align="right" valign="middle" style="font-size:12px;border-left: none; border-right: none;"><input type="checkbox" checked></td>
      <td width="20%" align="left" valign="middle" style="font-size:12px;border-left: none; border-right: none;"><strong>นายหน้าประกันภัยราายนี้</strong></td>
      <td align="left" valign="middle" style="font-size:12px;border-left: none; border-right: none;"><strong>นางสาว ทิวาภรณ์ แซ่เอีี้ยว</strong></td>
      <td width="15%" align="left" valign="middle" style="font-size:12px;border-left: none; border-right: none;"><strong>ใบอนุญาตเลขที่</strong></td>
      <td width="20%" align="left" valign="middle" style="font-size:12px;border-left: none;"><strong>45904022726</strong></td>
    </tr>
  </thead>
</table>
<table style="width:100%;margin-left: auto;margin-right: auto;" class="T2">
  <thead>
    <tr>
      <td width="20%" height="40" align="left" style="font-size:12px;border-right: none;  border-top: none;"><strong>วันที่ทำสัญญาประกันภัย</strong></td>
      <td width="20%" align="left" style="font-size:12px;border-left: none; border-right: none;  border-top: none;"><strong>24 ธันวาคม 2563</strong></td>
      <td align="center" style="font-size:12px;border-left: none; border-right: none;  border-top: none;">&nbsp;</td>
      <td width="25%" align="left" style="font-size:12px;border-left: none; border-right: none;border-top: none;"><strong>วันที่ออกกรมธรรม์ประกันภัย</strong></td>
      <td width="20%" align="left" style="font-size:12px;border-left: none;  border-top: none;"><strong>24 ธันวาคม 2563</strong></td>
    </tr>
  </thead>
</table>
<p>&nbsp;</p>
<p>เพื่อเป็นหลักฐาน บริษัทโดยผู้มีอำนาจได้ลงลายมือชื่อและประทับตราบริษัทไว้เป็นสำคัญ ณ สำนักงานของบริษัท</p>
<p>&nbsp;</p>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="33%" align="center" valign="bottom"  style="border: none;">............................................................ </td>
      <td width="33%" align="center" valign="bottom"  style="border: none;">............................................................ </td>
      <td width="33%" align="center" valign="bottom"  style="border: none;">............................................................ </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="text-align: center; border: none;"><br>
        กรรมการ</td>
      <td align="center" valign="top" style="text-align: center; border: none;"><br>
        กรรมการ</td>
      <td align="center" valign="top" style="text-align: center; border: none;"><br>
      ผู้รับมอบอำนาจ </td>
    </tr>
  </tbody>
</table>


	
</body>
</html>
