/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&family=Sarabun:wght@300;400;500&display=swap');


@font-face {
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 200;
  
}

#printCoverAreaOnlyX {
   display : none;
}
 body {
      font-family: 'Tahoma', sans-serif;
      margin: 20px;
	  font-size: 12px;
	 line-height: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
	  font-size: 14px;
    }
    td, th {
      border: 1px solid #000;
      padding: 2px;
      vertical-align: top;
    }
    .no-border td, .no-border th {
      border: none;
    }
    .header {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
	  
    }
    .sub-header {
      text-align: center;
    }
    .section-title {
      font-weight: bold;
    }
    .note {
      font-size: 12px;
    }
    .signature {
      height: 60px;
    }
	  
	  .noBorderLeft td{ 
		  border-left-style: none;
	  } 
.underline {
 
  border-bottom: 1px dotted #000;
  min-width: 150px;
  height: 20px;
 
}
	  
	#printCoverAreaOnly {
   display : none;
   
  
}

	  .headerBox{
		  border-style: solid;
		  border-width: 2px;
		  border-color: black;
		  padding: 5px;
		  width:350px;
		  line-height: 12pt;
	  }

@media print{
    @page {
        size: A5 ;
        margin: 0;
		font-size: 12pt !important;
    }
	#printAreaOnlyX {
       display : block;
	  
    }
	
	.underline {
  display: inline-block;
  border-bottom: 1px dotted #000;
  min-width: 150px;
  height: 20px;
 
}
}